*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.modal .modal-content{
    z-index: 10;
    position: absolute;
    width: auto;
    height: auto;
    
    border: 2px solid;
    border-radius:20px;
    background: rgb(0, 52, 66);
    ;
    
}
.modal-content .modal-header{
    text-align: center;
    display: inline;
    width:100%;
    height:120px;
    border:none;
   
}
.modal-header button{
    position: absolute;
    top: 15px;
    right: 15px;
}
.modal-header h1{
    font-size:27px;
    color: rgb(157, 255, 0);
}
.logo-registro img{
    width:130px;
    height:80px;
}
.modal .modal-content .modal-body{
    margin-top: 10px;
    width:100%;
    height:auto;
    
    padding: 10px 20px;

}
.modal-body h1{
    color: aqua;
    font-size:20px;
    font-family:'Courier New', Courier, monospace;

}
.modal-body select{
    font-size:18px;
    margin-top:4px;
    width:100%;
    height:28px;
    color: rgb(179, 255, 0);
    background: rgb(0, 52, 66);
    border:2px solid black;
    border-radius:5px;
    outline:none;
}

.container-input{
    width:auto;
    height: auto;
    margin-top: 4px;
    
}
.modal-body input{
    
    font-size:20px;
    margin-top: 2px;;
    height:28px;
    width:100%;
    border: none;
    border-bottom:2px solid;
    border-radius:5px;
    background-color: rgba(230, 234, 236, 0);

}
.modal-body input:focus{
    outline: none;
    background: rgb(4, 43, 54);
    color: rgb(208, 255, 0);
    border-bottom: solid black;
    

}
.modal-content .modal-footer{
    justify-content: space-around;
    border:none
}
.modal-footer .btn-modal{
    width: 120px;
    height: 38px;
    border: 2px solid black;
    border-radius:5px;
    background-color:rgb(0, 43, 54) ;
    color: rgb(159, 255, 5);
}
