*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace !important;
    
}
body{
    background-color: rgb(6, 43, 56);
}
*::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
*::-webkit-scrollbar-track {
    background: rgb(2, 41, 77); 
    border-radius:10px;      /* color of the tracking area */
  }
  
*::-webkit-scrollbar-thumb {
    background-color: rgb(179, 255, 0);    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1px solid rgb(255, 251, 0);  /* creates padding around scroll thumb */
  }
/* menu de navegacion */
.nav{
    width: 100%;
    height: 100px;;
    background-color: rgba(17, 39, 54, 0);
    display: flex;
    
    padding:5px;
    border-bottom: 2px solid rgb(191, 255, 0);
    box-shadow: 0px 3px 14px 5px rgba(191,255,0,0.73) ;
    border-bottom-left-radius: 10px;;
    border-bottom-right-radius: 10px;;
}
.nav-responsive{
    display:none;
}
.search-responsive input{
    display:none;

}
.nav-ul{
    width: 85%;
    height:80px;
    
    margin-right: 10px;
    padding:10px;
    display: flex;
    justify-content: space-around;
}
.nav-ul a{
    text-decoration: none;
    color: rgb(69, 244, 250);
}
.nav-responsive a ion-icon{

    color: rgb(69, 244, 250);
}
.nav-ul-li{
    width:auto;
    font-size: 26px;
    height:45px;
    
    background-color:rgb(1, 38, 48);
    padding:4px;
    border-radius: 5px;;
    text-align: center;
    color: rgb(69, 244, 250);
    
}
.nav-buscar{
    width:250px;;
    height:30px;
    font-size: 17px;
    background: transparent;
    border: 2px solid black;
    border-radius:5px;
    color: rgb(185, 252, 0);
}
.nav-buscar:focus~.container_search{
    display: flex;
    flex-wrap: wrap;
}
.logo-menu{
    font-size:28px;
    margin-right: 4px;
    margin-bottom:-8px; ;
    
    
}
.item-buscador{
    width: 45%;
    height: auto;
    border: 2px solid rgb(0, 255, 213);
    border-radius: 5px;
    margin: 5px ;
}
.item-buscador:hover{
    width: 45%;
    height: auto;
    border: 2px solid rgb(0, 255, 213);
    border-radius: 5px;
    margin: 5px ;
    background-color: rgba(0, 247, 247, 0.507);
    position: relative;
    z-index: 2;
}
.title_img{

    font-size: 12px;;
    color:rgb(0, 255, 85);
}
#imagen{
    width: 60px;
    height: 100px;
	margin: 0 auto;
    border-radius: 2px;

}
.container_search{
    display: none;
    width:290px ;
    height:auto;
    max-height: 450px;
    overflow: auto;
    position: absolute;
    margin-top:10px;
    background-color: rgb(1, 38, 48);
    border-bottom: 2px solid greenyellow;
    border-left: 2px solid greenyellow;
    border-right: 2px solid greenyellow;
    border-bottom-left-radius: 10px;;
    border-bottom-right-radius: 10px;;
    border: 2px solid greenyellow;
    border-radius: 10px;;
    padding: 10px;;
}
.nav-ul-li:hover{
    color:rgb(191, 255, 0);
    outline:2px solid rgb(191, 255, 0);
    

}
.nav-logo{
    width: 14%;
    height:80px;
    
}
.nav-logo img{
    width:100%;
    height:100%;
    border-radius:5px;
    border:1px solid rgb(0, 255, 213);
    box-shadow: 0px 0px 20px 0px rgba(0, 255, 234, 0.73)
}
/* contendedor  peliculas */
.show-movies{
    padding:0px;
    margin: 1%;
    margin-top:70px;
    width: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    background-color:rgb(1, 47, 65);
    border: 6px solid rgb(255, 191, 0);
    border-radius:15px;
    box-shadow: 0px 5px 18px 5px rgba(255, 174, 0, 0.73) ;
    
}
.movies-title{
    width: auto;
    background-color:rgb(191, 255, 0);
    border:2px solid ;
    border-radius:5px;
    height: 50px;
    padding-bottom:10px;
    position: absolute;
    margin-top:-25px;
}


/* item de peliculas-libros-series */
.container-item{
    margin: 30px;
    margin-left:13px;
    margin-right:13px;
    background-color: rgb(1, 47, 65);
    border: 1px solid rgb(0, 247, 255);
    border-radius: 11px;
    transition: all 0.7s;
    width:190px;
    height:290px;
    background-color: aqua;
    display: block;
    overflow: hidden;
    

}
.img-item{
    width:100%;
    height:100%;
    
    position:relative;
   
    
}


.description-item{
    width:100%;
    height:102%;
    padding:10px;
    color: rgb(255, 255, 255);
    background-color:rgba(0, 9, 49, 0.866);
    transition: all .8s;
    
   
    
}
.description-item h3 {
    font-size:20px;
    height:auto;

}
.description-item h4 {
    font-size:18px;
    height:auto;
    

}

.container-item:hover .description-item{
    transform: translate(0,-100%);
   
    
}







/* contenedor series */
.show-series{
    padding:0px;
    margin: 1%;
    margin-top:70px;
    width: 98%;
    display:flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    background-color:rgb(1, 47, 65);
    border: 6px solid rgb(255, 0, 76);
    border-radius:15px;
    box-shadow: 0px 5px 18px 5px rgba(255,0,76,0.73) ;
    

}
/* contenedor libros */
.show-books{
    justify-content: center;
    padding:0px;
    margin: 1%;
    margin-top:70px;
    width: 98%;
    display:flex;
    flex-wrap: wrap;
    height: auto;
    background-color:rgb(1, 47, 65);
    border: 6px solid rgb(0, 255, 204);
    border-radius:15px;
    box-shadow: 0px 5px 18px 5px rgba(0,255,204,0.73) ;
}

/* footer */
.footer{
    
    margin-top:80px;
    
    width:100%;
    height:auto;
    background-color: rgb(6, 43, 56);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid rgb(191, 255, 0);
    /* box-shadow: 0px -8px 18px 0px rgba(217, 255, 0, 0.73) ; */
}
.logo-footer{
    width: 300px;
    height:150px;
    
}
.logo-footer img{
    width: 100%;
    height:100%;
    
}
.info-footer{
    width:350px;
    height:150px;
    color: aqua;
 
    

}
.info-footer h3{
   margin-top:8px;
   color:white;
    

}
.info-footer-dos{
    width:350px;
    height:150px;
    color: aqua;


}
.info-footer-dos input{
    margin-top:5px;
    height:26px;
}
.info-footer-dos textarea{
    margin-top:5px;
    
}
.info-footer-dos button{
    margin-top:5px;
    background:rgb(166, 255, 0);
    width:100px;
    height:26px;
    border:2px solid aqua;
    border-radius:10px;
    
}
@media screen and (max-width:769px){
    .nav{
        width: 100%;
        height: 70px;;
        background-color: rgba(17, 39, 54, 0);
        display: flex;
        overflow:hidden;
        flex-wrap: wrap;
        padding:5px;
        border-bottom: 2px solid rgb(191, 255, 0);
        box-shadow: 0px 0px 8px 0px rgba(191,255,0,0.73) ;
        border-radius:5px;
        
     
    }
    .nav-ul{
        width: 68%;
        height:auto;
        padding:3px;
       

    }
    .nav-ul a{
        text-decoration: none;
    }
    .nav-ul-li{
        width:100px;
    font-size: 18px;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    background-color:rgb(1, 38, 48);
    padding:4px;
    border-radius: 5px;;
    justify-content: center;
    text-align: center;
    color: rgb(69, 244, 250);

        
        
    }
    .nav-ul-li ion-icon{
        margin-bottom:3px;
    }
    .nav-responsive{
        width:70%;
        height: 100%;
        padding:10px;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        align-items: center;
        display: none;

    }
    .nav-responsive a{
        margin-left:4px;
        background-color:rgb(4, 34, 54);
        width:auto;
        height:35px;
        color:rgb(0, 221, 250);
        border-radius: 10px;;
        text-align: center;
        padding:4px;
        
        
    }
    
    .nav-responsive a ion-icon{
        
        font-size: 30px;
        margin-top:1px;

    }
    .nav-buscar{
        width:150px;;
        height:30px;
        font-size: 17px;
        background: transparent;
        border: 2px solid rgb(2, 172, 252);
        border-radius:5px;
        color: rgb(185, 252, 0);
        margin: auto;
        display:block;
    }

    .search-responsive{
        margin-top:10px;
        width:100%;
        height:40px;
        display: flex;;
        
    }
    .search-responsive input{
       display:block;
       width:80%;
        
    }
    

    .logo-menu{
        font-size:25px;
        margin-right: 4px;
        margin-bottom:-8px; ;
        
        
    }
    .item-buscador{
        width: 45%;
        height: auto;
        border: 2px solid rgb(0, 255, 213);
        border-radius: 5px;
        margin: 5px ;
    }
    .item-buscador:hover{
        width: 45%;
        height: auto;
        border: 2px solid rgb(0, 255, 213);
        border-radius: 5px;
        margin: 5px ;
        background-color: rgba(0, 247, 247, 0.507);
        position: relative;
        z-index: 2;
    }
    .title_img{
    
        font-size: 12px;;
        color:rgb(0, 255, 85);
    }
    #imagen{
        width: 60px;
        height: 100px;
        margin: 0 auto;
        border-radius: 2px;
    
    }
    .container_search{
        display: block;
        width:96% ;
        height:auto;
        max-height: 450px;
        overflow: auto;
        position: absolute;
        z-index: 5;
        margin-top:10px;
        margin-left:2% ;
        background-color: rgba(1, 47, 65, 0.788);
        border-bottom: 2px solid greenyellow;
        border-left: 2px solid greenyellow;
        border-right: 2px solid greenyellow;
        border-bottom-left-radius: 10px;;
        border-bottom-right-radius: 10px;;
        border: 2px solid greenyellow;
        border-radius: 10px;;
        padding: 10px;;
    }
    .nav-ul-li:hover{
        color:rgb(191, 255, 0);
        outline:2px solid rgb(191, 255, 0);
        
    
    }
    .nav-logo{
        
        width: 30%;
        height:60px;
        
        
    }
    .nav-logo img{
       
        width:100%;
        height:100%;
        border-radius:5px;
        border:1px solid rgb(0, 255, 213);
        box-shadow: 0px 0px 0px 0px rgba(0, 255, 234, 0.73)
    }
    .movies-title{
        width: auto;
        background-color:rgb(191, 255, 0);
        border:2px solid ;
        border-radius:5px;
        height: 40px;
        padding-bottom:0px;
        position: absolute;
        margin-top:-35px;
    }
    .container-item{
        margin: 5px;
        margin-top:10px;
        background-color: rgb(1, 47, 65);
        border: 1px solid rgb(0, 247, 255);
        border-radius: 8px;
        transition: all 0.7s;
        width:150px;
        height:220px;
        background-color: aqua;
        display: block;
        overflow: hidden;
        
    
    }
    .img-item{
        width:100%;
        height:100%;
        
        position:relative;
       
        
    }
    
    
    .description-item{
        width:100%;
        height:102%;
        padding:5px;
        color: rgb(255, 255, 255);
        background-color:rgba(0, 9, 49, 0.866);
        transition: all .7s;
        border-radius: 8px;
        
       
        
    }
    .description-item h3 {
        font-size:17px;
        height:auto;
    
    }
    .description-item h4 {
        font-size:12px;
        height:auto;
        
    
    }
    
    .container-item:hover .description-item{
        transform: translate(0,-102%);
       
        
    }
    .logo-footer{
        width: 400px;
        height:200px;
        
    }

}




@media screen and (max-width:576px){
    .nav-responsive{
        display:block;
    }
    
    .search-responsive input{
        display:block;
    
    }
    .nav{
        width: 100%;
        height: 70px;;
        background-color: rgba(17, 39, 54, 0);
        display: flex;
        overflow:hidden;
        flex-wrap: wrap;
        padding:5px;
        border-bottom: 2px solid rgb(191, 255, 0);
        box-shadow: 0px 0px 8px 0px rgba(191,255,0,0.73) ;
        border-radius:5px;
        
     
    }
    .nav-ul{
        width: 100%;
        height:auto;
        padding:10px;
        display: none;

    }
    .nav-ul a{
        text-decoration: none;
    }
    .nav-ul-li{

        display:none;
        
    }
    .nav-responsive{
        width:70%;
        height: 100%;
        padding:10px;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        align-items: center;

    }
    .nav-responsive a{
        margin-left:6px;
        background-color:rgb(4, 34, 54);
        width:40px;
        height:38px;
        color:rgb(0, 221, 250);
        border-radius: 10px;;
        text-align: center;
        padding:4px;
        
        
    }
    
    .nav-responsive a ion-icon{
        
        font-size: 29px;
        margin-top:1px;

    }

    .search-responsive{
        margin-top:10px;
        width:100%;
        height:auto;
        display: flex;;
        
    }
    .nav-buscar{
        width:280px;;
        height:30px;
        font-size: 17px;
        background: transparent;
        border: 2px solid rgb(2, 172, 252);
        border-radius:5px;
        color: rgb(185, 252, 0);
        margin: auto;
    }

    .logo-menu{
        font-size:25px;
        margin-right: 4px;
        margin-bottom:-8px; ;
        
        
    }
    .item-buscador{
        width: 45%;
        height: auto;
        border: 2px solid rgb(0, 255, 213);
        border-radius: 5px;
        margin: 5px ;
    }
    .item-buscador:hover{
        width: 45%;
        height: auto;
        border: 2px solid rgb(0, 255, 213);
        border-radius: 5px;
        margin: 5px ;
        background-color: rgba(0, 247, 247, 0.507);
        position: relative;
        z-index: 2;
    }
    .title_img{
    
        font-size: 12px;;
        color:rgb(0, 255, 85);
    }
    #imagen{
        width: 60px;
        height: 100px;
        margin: 0 auto;
        border-radius: 2px;
    
    }
    .container_search{
        display: block;
        width:96% ;
        height:auto;;
        max-height: 450px;
        overflow: auto;
        position: absolute;
        z-index: 5;
        margin-top:10px;
        margin-left:2% ;
        background-color: rgba(1, 38, 48, 0.63);
        border-bottom: 2px solid greenyellow;
        border-left: 2px solid greenyellow;
        border-right: 2px solid greenyellow;
        border-bottom-left-radius: 10px;;
        border-bottom-right-radius: 10px;;
        border: 0px solid greenyellow;
        border-radius: 10px;;
        padding: 0px;;
    }
    .nav-ul-li:hover{
        color:rgb(191, 255, 0);
        outline:2px solid rgb(191, 255, 0);
        
    
    }
    .nav-logo{
        
        width: 30%;
        height:60px;
        
        
    }
    .nav-logo img{
       
        width:100%;
        height:100%;
        border-radius:5px;
        border:1px solid rgb(0, 255, 213);
        box-shadow: 0px 0px 0px 0px rgba(0, 255, 234, 0.73)
    }
    .show-movies{
        padding-top:0px;
        margin: 1%;
        margin-top:70px;
        width: auto;
        display:flex;
        flex-wrap: wrap;
        justify-content:space-around;
        height: auto;
        background-color:rgb(1, 47, 65);
        border: 3px solid rgb(255, 191, 0);
        border-radius:15px;
        box-shadow: 0px 5px 18px 5px rgba(255, 174, 0, 0.73) ;
        
    }
    .movies-title{
        width: auto;
        background-color:rgb(191, 255, 0);
        border:2px solid ;
        border-radius:5px;
        height: 40px;
        padding-bottom:0px;
        position: absolute;
        margin-top:-35px;
    }
    .container-item{
        margin: 5px;
        margin-top:10px;
        background-color: rgb(1, 47, 65);
        border: 1px solid rgb(0, 247, 255);
        border-radius: 8px;
        transition: all 0.7s;
        width:90px;
        height:150px;
        background-color: aqua;
        display: block;
        overflow: hidden;
        
    
    }
    .img-item{
        width:100%;
        height:100%;
        
        position:relative;
       
        
    }
    
    
    .description-item{
        width:100%;
        height:102%;
        padding:5px;
        color: rgb(255, 255, 255);
        background-color:rgba(0, 9, 49, 0.866);
        transition: all .7s;
        border-radius: 8px;
        
       
        
    }
    .description-item h3 {
        font-size:10px;
        height:auto;
    
    }
    .description-item h4 {
        font-size:8px;
        height:auto;
        
    
    }
    
    .container-item:hover .description-item{
        transform: translate(0,-102%);
       
        
    }
    .show-series{
        padding:0px;
        margin: 1%;
        margin-top:50px;
        width: 98%;
        display:flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-around;
        background-color:rgb(1, 47, 65);
        border: 3px solid rgb(255, 0, 76);
        border-radius:15px;
        box-shadow: 0px 5px 18px 5px rgba(255,0,76,0.73) ;
        
    
    }
    /* contenedor libros */
    .show-books{
        
        padding:0px;
        margin: 1%;
        margin-top:50px;
        width: 98%;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
        background-color:rgb(1, 47, 65);
        border: 3px solid rgb(0, 255, 204);
        border-radius:15px;
        box-shadow: 0px 5px 18px 5px rgba(0,255,204,0.73) ;
    }
    .logo-footer{
        width:200px;
        height:80px;
    }
    .info-footer-dos button{
        margin-top:5px;
        background:rgb(166, 255, 0);
        width:80px;
        height:27px;
        border:2px solid aqua;
        border-radius:10px;
        
    }

}


